*.bat
*.lnk

# yarn
.yarn

# Logs
*.log
logs
log

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# build
build/
dist/
out/

# vscode
.vs
.vscode